.scanline {
  width: 100%;
  height: 100px;
  z-index: 8;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0.2) 10%,
    rgba(0, 0, 0, 0.1) 100%
  );
  opacity: 0.35;
  position: fixed;
  bottom: 100%;
  animation: scanline 10s linear infinite;
  pointer-events: none;
}

.scanline1 {
  width: 100%;
  height: 100%;
  z-index: 18;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0.2) 10%,
    rgba(0, 0, 0, 0.1) 100%
  );
  opacity: 0.1;
  position: fixed;
  bottom: 100%;
  animation: scanline 4s linear infinite;
  pointer-events: none;
}

@keyframes scanline {
  0% {
    bottom: 100%;
  }
  80% {
    bottom: 100%;
  }
  100% {
    bottom: 0%;
  }
}

.cristal {
  pointer-events: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 70%;

  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  background-size: 100% 4px, 2px 100%;
}

.container {
  position: fixed;
  width: 100%;
  height: 100vh; /* Đảm bảo container chiếm toàn bộ màn hình */
  overflow: hidden;
}


.square {
  position: absolute;
  bottom: -100px;
  background-color: #f2f2f2;
  animation: boxes 10s infinite ease-in-out;
  z-index: 20; /* Set a high z-index value */
}

.square:nth-child(1) {
  width: 75px;
  height: 75px;
  left: 7%;
}

.square:nth-child(2) {
  width: 65px;
  height: 65px;
  left: 15%;
  animation-delay: 4s;
}

.square:nth-child(3) {
  width: 82px;
  height: 82px;
  left: 45%;
  animation-delay: 8s;
}

.square:nth-child(4) {
  width: 70px;
  height: 70px;
  left: 55%;
  animation-delay: 2s;
}

.square:nth-child(5) {
  width: 60px;
  height: 60px;
  left: 27%;
  animation-delay: 6s;
}

.square:nth-child(6) {
  width: 55px;
  height: 55px;
  left: 60%;
  animation-delay: 4s;
}

.square:nth-child(7) {
  width: 90px;
  height: 90px;
  left: 85%;
  animation-delay: 9s;
}

.square:nth-child(8) {
  width: 70px;
  height: 70px;
  left: 75%;
  animation-delay: 4s;
}

.square:nth-child(9) {
  width: 45px;
  height: 45px;
  left: 10%;
  animation-delay: 7s;
}

.square:nth-child(10) {
  width: 55px;
  height: 55px;
  left: 60%;
  animation-delay: 7s;
}

@keyframes boxes {
  0% {
    bottom: 30px;
  }

  100% {
    bottom: 100%;
    transform: rotate(180deg);
    opacity: 0;
  }
}
